@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto+Slab:wght@300;400;700&display=swap');

:root {
  --primary-color: #DB3E38;
  --secondary-color: #1B1818;
  --ff-body: 'Montserrat', sans-serif;
  --ff-heading: 'Roboto Slab', serif;
  --fs-xl: clamp(2.5rem, 7vw + 1rem, 6rem);
  --fs-600: 2rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  overflow-x: hidden;
  min-width: 14rem;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  color: var(--secondary-color);
}

h1 {
  font-size: var(--fs-600);
}

.sr-only {
  display: none;
}

.flex {
  display: flex;
}

.container {
  padding-block: min(6vh, 6rem);
  padding-inline: clamp(2rem, 10%, 15rem);
}

.section-title {
  margin: 0;
  text-transform: uppercase;
}

main .section-title {
  width: fit-content;
  background-color: var(--primary-color);
  color: #fff;
  padding-inline: 10px;
}

main .content {
  padding-top: min(6vh, 6rem);
}

#my-work, #about-me, #contact-me {
  scroll-margin-top: 4rem;
}

.circle {
  background-color: #1B1818;
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  display: none;
  /* position: absolute;
  top: 61px;
  left: 17px; */
}

.highlight {
  font-weight: 700;
  color: var(--primary-color);
}

/***************** Header *****************/
header {
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  z-index: 1;
  /* border-bottom: 1px solid var(--primary-color);   */
}

header.container {
  padding-block: 0;
}

#logo {
  width: clamp(2rem, 3rem, 4rem);
  height: clamp(2rem, 3rem, 4rem);
  margin-block: 1rem;
  transition: 300ms ease-in;
}

#logo:hover {
  transform: rotate(360deg);
}

#nav-bar {
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: hsl(0 0% 0% / 0.9);
}

/* For browsers that support backdrop-filter */
@supports (backdrop-filter: blur(0.5rem)) {
  #nav-bar {
    background-color: hsl(0 0% 0% / 0.5);
    backdrop-filter: blur(0.3rem);
  }
}

#nav-bar li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

#nav-bar li a>span {
  margin-inline-end: 0.5em;
  font-weight: 700;
}

#nav-toggle {
  display: none;
}

#nav-toggle-icon {
  transition: 300ms ease-in;
}

.active::after {
  content: "";
  display: block;
  width: 10rem;
  border-bottom: 1px solid var(--primary-color);
}

/***************** Mobile Nav *****************/
@media (max-width: 35em) {
  #nav-bar {
    gap: 3em;
    padding: min(30vh, 10rem) 2rem;
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 30%;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    z-index: 1000;
  }

  #nav-bar[data-visible="true"] {
    transform: translateX(0%);
  }

  #nav-toggle {
    display: block;
    position: absolute;
    top: 2rem;
    right: 7%;
    background-color: transparent;
    color: #fff;
    border: 0;
    z-index: 9999;
  }
}

/***************** Intro *****************/
#intro {
  min-height: 78vh;
  position: relative;
  background-color: #000;
  color: #fff;
  z-index: -2;
}

#intro .circle {
  background-color: #fff;
}

#intro .section-title {
  padding-bottom: min(6vh, 6rem);
  font-size: var(--fs-xl);
  color: #fff;
}

.intro-text {
  font-size: 1.25rem;
  margin: 0;
}

.intro-text .highlight {
  display: inline-block;
  transition: transform 500ms ease;
}

.intro-text:hover .highlight {
  transform: translateY(-2px);
}

.intro-text {
  padding-bottom: 1rem;
}

.intro-content {
  z-index: 1;
}

#intro-content a {
  position: absolute;
  font-family: var(--ff-heading);
  color: #fff;
  text-decoration: none;
}

#view-my-work {
  bottom: 7rem;
  font-size: var(--fs-500);
  font-weight: 700;
}

#down-arrow {
  bottom: 2rem;
  font-size: 3rem;
  transition: all 300ms linear;
}

#view-my-work:hover~#down-arrow {
  transform: translateY(5px);
  color: var(--primary-color);
}

#intro-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  /* opacity: 0.5; */
  z-index: -1;
}

/***************** My Work *****************/
#projects {
  gap: 2rem;
  flex-wrap: wrap;
  flex: 1;  
}

.project {
  width: 22rem;
  padding: 0.7rem;
  transition: transform 350ms ease 0s;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.project:hover {
  transform: scale(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.project-img {
  width: 100%;
}

.project-name,
.project-description {
  margin-block: 1rem;
}

.project-name {
  transition: color 350ms ease 0s;
}

.project:hover>.project-name {
  color: var(--primary-color);
}

.project-description {
  color: #b4b5b3;
}

.project-link {
  font-size: 12px;
  font-weight: 700;
  color: rgb(77, 78, 77);
  text-transform: uppercase;
  transition: text-decoration 550ms ease 0s;
}

.project:hover>.project-link {
  text-decoration: underline;
}

/***************** About Me *****************/
#about-me-content {
  flex-direction: column;
  gap: 2rem;
}

#my-photo img {
  border-radius: 50%;
}

#my-story p {
  padding-bottom: 1rem;
}

/***************** Contact Me *****************/
#contact-me {
  background-color: #000;
  color: #fff;
}

#contact-me .section-title {
  background-color: #fff;
  color: var(--primary-color);
}

#contact-form {
  position: relative;
}

#contact-form ul {
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  flex-wrap: wrap;
  list-style-type: none;
}

#contact-form ul li {
  position: relative;
  flex-basis: 100%;
}

#contact-form ul li input,
#contact-form ul li textarea {
  width: 100%;
  padding: 1rem;
  background-color: #1d1d1d;
  color: #fff;
  transition: border-bottom 400ms ease-in;
  outline: none;
  border: none;
  resize: none;
}

#contact-form ul li input:focus,
#contact-form ul li textarea:focus {  
  border-bottom: 3px solid var(--primary-color);
}

#contact-form ul li textarea {
  min-height: 200px;
}

input[type="submit"] {
  width: 100%;
  margin-top: 1rem;
  padding: 0.7em 3em;
  background-color: #000;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition-property: background-color, color, border-color; 
  transition-duration: 400ms; 
  transition-timing-function: ease-in; 
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-color: #fff;
}

.error {
  position: absolute;
  left: 0;
  top: -20px;
  color: var(--primary-color);
}

#contact-form ul li .error-border {
  border-left: 3px solid var(--primary-color);
}

#success {  
  padding: 1rem;
  border: 1px solid var(--primary-color);
  text-align: center;
  color: var(--primary-color);
  display: none;
}

/***************** Footer *****************/
footer {
  justify-content: space-between;
  font-size: 0.7rem;
  background-color: #000;
  color: #fff;
}

.socials {
  min-width: 3rem;
  justify-content: space-between;
}

.socials a {
  color: #fff;
  text-decoration: none;
}

/***************** Larger than mobile *****************/
@media (min-width: 35em) {
  #nav-bar {
    gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 1rem;
  }

  .active::after {
    width: 100%;
  }

  #contact-form {
    text-align: right;
  }

  #contact-form ul {
    justify-content: space-between;    
  }

  #contact-form ul li:first-child, #contact-form ul li:nth-child(2) {
    flex-basis: calc(50% - 0.75rem);
  }

  #contact-form input[type="submit"] {
    width: fit-content;
    padding-inline: 5rem;
  }

  footer {
    font-size: 1rem;
  }
  .socials {
    min-width: 4rem;
  }
}

/***************** Tablet *****************/
@media (min-width: 35em) and (max-width: 55em) {
  :root {
    --fs-600: 2.5rem;
    --fs-500: 1.3rem;
    --fs-400: 1.1rem;
  }

  #nav-bar li a>span {
    display: none;
  }

  .project {
    width: 14rem;
  }
}

/***************** Desktop *****************/
@media (min-width: 55em) {
  :root {
    --fs-600: 3rem;
    --fs-500: 1.5rem;
    --fs-400: 1.125rem;
  }

  #intro {
    min-height: 85vh;
  }

  #about-me-content {
    flex-direction: row;
    gap: 5rem;
  }  
}

/***************** Large desktop *****************/

/* REM (relative unit, similar to ems, relative to html, default is 16px)
  - font-size
  - margin/padding
*/

/* EM (relative unit, width of a capital "M")
  - not for font-size
  - margin/padding
  - padding on buttons (anything containing text)
  - media queries
*/

/* %
  - Width, max-width
  - Height(avoid setting height if possible), min-height
*/

/* PX
  - Don't use them
  - use them for something small like border or shadow
*/

/* CH (width of an "o" of any given font)
  -
*/